.header__lang-link {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding: 18px 0 6px;
}

.header__lang-link:nth-of-type(2) {
  text-decoration: underline;
  margin-right: 18px;
}