.lead {
  padding: 56px 100px 92px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .lead {
    padding: 48px 48px 92px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    padding: 48px 0 88px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    padding-bottom: 64px;
  }
}