.cover__subtitle {
  position: relative;
  margin: 32px auto 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  max-width: 360px;
  color: #FFFFFF;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    margin-top: 16px;
    max-width: 260px;
  }
}