.cover__subtitle {
  position: relative;
  margin: 32px auto 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  max-width: 360px;
  z-index: 1;
  text-decoration: none;
  color: #FFFFFF;
}