.header__logo {
  background: url("../../../images/logo/header-logo.svg");
  width: 176px;
  height: 52px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .header__logo {
    height: 42px;
    width: 142px;
  }
}