.cover {
  position: relative;
  min-height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}