.place {
  list-style: none;
  padding-bottom: 80px;
  display: grid;
  gap: 48px 40px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  grid-template-areas:
  "title website"
  "image text"
}

.place:last-of-type {
  padding-bottom: 0;
}